.text-mute {
    color: #a2b3cc;
}

.sqr-item {
    height: 10vh;
    border: 1px solid #f0f1f2;
    background-color: #fff;
    color: #c9dcea;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.active {
    border: 3px solid #619edb;

}